<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Proxy para a API -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="https://iplanfacil-dev-restapi.onbmc.com/api/{R:1}" appendQueryString="true" />
        </rule>

        <!-- Redirecionar todas as outras requisições para index.html do React -->
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/CadastroIplanfacil/index.html" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
