.form-container {
    max-width: 960px;
    margin: 3rem auto;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
  }
  
  .form-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #2166cc;
    font-weight: 600;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  .form-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1.5rem;
  }
  
  .form-block label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #333;
  }
  
  input {
    width: 350px;
    padding: 0.9rem 1rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    margin-top: 0.3rem;
  }
  
  input:focus {
    border-color: #2166cc;
    outline: none;
    box-shadow: 0 0 6px rgba(33, 102, 204, 0.2);
  }
  
  .submit-btn {
    width: 100%;
    align-self: center;
    background: linear-gradient(to right, #1253cc, #34a1f0);
    color: white;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  select {
    padding: 0.9rem 1rem;
    font-size: 1.1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: #f9f9f9;
    margin-top: 0.3rem;
  }
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .form-title {
    font-size: 1.8rem;
    color: #0F52AF;
    font-weight: 600;
  }
  
  select:focus {
    border-color: #2166cc;
    outline: none;
    box-shadow: 0 0 6px rgba(33, 102, 204, 0.2);
  }
  
  .submit-btn:hover {
    background: linear-gradient(to right, #0e3e99, #228cd1);
  }
  .back-btn {
    background-color: #0F52AF; 
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    margin-top: -30px;
    transition: background-color 0.3s ease;
  
  }

  @media (max-width: 768px) {
    .form-block {
      grid-template-columns: 1fr;
    }
  
    .form-container {
      padding: 2rem;
    }
  }
  