  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
  }
  
  .form-title {
    font-size: 1.8rem;
    color: #0F52AF;
    font-weight: 600;
  }
 
  .back-btn {
    background-color: #0F52AF;
    color: #fff;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .back-icon{
    width: 40px;
    height: 40px;
    color:  #0F52AF;
    border: 2px solid;
    border-radius: 50px;
    padding: 6px;
    margin-top: -25px;
    cursor: pointer;
  }

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    input {
      padding: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 1rem;
  
      &:focus {
        outline: none;
        border-color: #2AACD7;
        box-shadow: 0 0 0 2px rgba(42, 172, 215, 0.2);
      }
    }
  
    .submit-btn {
      background-color: #0F52AF;
      color: white;
      padding: 0.8rem;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #3869D9;
      }
  
      &:active {
        background-color: #2AACD7;
      }
    }
  }
  