/* src/index.css */
@font-face {
  font-family: 'IPLAN';
  src: url('./assets/Tipografia_IPLANRIO/Tipografia/DM_Sans/static/DMSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IPLAN', sans-serif;
}
